.blur {
	filter: blur(0) !important;
}
.bg2 {
	filter: blur(0) !important;
}
#back_g_d {
	filter: blur(0) !important;
}
#back_g_d.blur {
	filter: blur(0) !important;
}
#mySITE.blur {
	filter: blur(0) !important;
}